@import "tailwindcss";

:root {
  --sidebar-bg: #0f172a; 
  --sidebar-hover: #1e293b;
  --bg-color: #f7f9fc;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: #333333;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}